$backgroundColor: rgb(245, 245, 245);
$fontIconsColor: #FED73A;
$whiteColor: #fff;
$blackColor: #000;
$violetColor: #6A45B6;
$violetHoverColor: rgb(134, 109, 184);
$shadowColor: rgba(0, 0, 0, 0.15);
$grayColor: #bbbbbb;
$paragraphColor: #222124;
$descriptionColor: #767281;