@import 'mediaRequests';
@import 'headerStyle';
@import 'footerStyle';
@import 'navStyle';

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding-bottom: 20%;

    .content {
        margin-left: 100px;
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .slider {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-top: 40px;
            border-radius: 25px;
            height: 400px;
            width: 100%;
            background-image: url('/images/slider/pizza-background.jpg');
            background-size: cover;

            .slider-btns {
                margin-bottom: 15px;

                label {
                    margin: 0 20px;
                    margin-bottom: 15px;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        background-color: #FFFFFF;
                        cursor: pointer;
                        border-radius: 100%;
                    }
                }
                input {
                    display: none;

                    &:checked + label::before {
                        width: 20px;
                        border-radius: 8px;
                        background-color: #FED73A;
                    }
                }
            }
        }

        .category {
            padding-top: 5%;
            display: flex;
            justify-content: space-between;
            height: 10%;
            width: 100%;

            .category-name {
                font-size: 36px;
                color: #222124;
            }

            .category-sort {
                margin-top: 15px;

                p {
                    font-size: 14px;
                }

                select {
                    background: none;
                    -webkit-appearance: none;
                    appearance: none;
                    border: none;
                    color: black;
                    font-size: 15px;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }

        .product-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .product {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                width: 320px;
                height: 500px;
                background-color: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
                border-radius: 20px;
                margin: 40px 0 30px 0;

                .product-name {
                    text-align: center;
                    color: #222124;
                    font-size: 22px;
                }

                .product-description {
                    text-align: center;
                    font-size: 14px;
                    color: #767281;
                    margin: 10px 10px 30px 10px;
                }

                .product-price {
                    text-align: center;
                    font-size: 38px;
                    color: #222124;
                    margin: 0 auto 80px auto;
                }

                .add-btn {
                    justify-content: center;
                    background-color: #6A45B6;
                    height: 65px;
                    width: 65px;
                    border: none;
                    border-radius: 100%;
                    position: absolute;
                    margin-top: 30px;

                    i {
                        color: #FFFFFF;
                        font-size: 30px;
                    }

                    &:hover {
                        background-color: rgb(134, 109, 184);
                    }
                }
            }
        }
    }
}

@include responsive(tab-land){
    .main {
        
        .content {

            .category {

                margin-top: 20px;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;

                .category-sort {
                    margin-top: 5px;
                }
            }

            .product-list {
                
                width: 70%;
            }
        }
        
    }
}

@media only screen and (max-width: 1100px){
    .main {
        
        .content {


            .product-list {
                
                width: 80%;
            }
        }
        
    }
};

@media only screen and (max-width: 1000px){
    .main {
        
        .content {


            .product-list {
                
                width: 90%;
            }
        }
        
    }
};


@include responsive(tab-port) {
    .main {

        .content {
            margin-left: 0;
            width: 100%;

            .slider {

                border-radius: 0;
                margin: 0;
            }

            .product-list {
                flex-direction: column;
                align-items: center;
                margin-left: 0;
                width: 100%;
                
                .product {
                    height: 350px;
                    width: 100%;
                    margin: 50px 0;
                    border-radius: 0;
                    box-shadow: 0px 20px rgba(0, 0, 0, 0.15) 0px;

                    .product-name {
                        font-size: 20px;
                    }

                    .product-description {
                        font-size: 12px;
                        margin: 10px 10px 15px 10px;
                    }

                    .product-price {
                        font-size: 34px;
                        margin: 0 auto 50px auto;
                    }
                }
            }
        }
    }
}

@include responsive(phone) {
    .main {
        
        .content {
            .product-list {
                .product{
                    height: 300px;
                }
            }
        }
        
    }
}