@import 'mediaRequests';
@import 'headerStyle';
@import 'footerStyle';
@import 'navStyle';

.main {
    
    height: auto;
    width: 100%;
    background: rgb(245, 245, 245);
    padding-bottom: 25%;

    .banner {
        display: flex;
        justify-content: center;
        height: 450px;

        .slider {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-top: 50px;
            margin-left: 60px;
            border-radius: 25px;
            height: 90%;
            width: 80%;
            background-image: url('/images/slider/pizza-background.jpg');
            background-size: cover;

            .slider-btns {
                margin-bottom: 15px;

                label {
                    margin: 0 20px;
                    margin-bottom: 15px;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        background-color: #FFFFFF;
                        cursor: pointer;
                        border-radius: 100%;
                    }
                }
                input {
                    display: none;

                    &:checked + label::before {
                        width: 20px;
                        border-radius: 8px;
                        background-color: #FED73A;
                    }
                }
            }
        }
    }

    .content {
        padding-top: 5%;
        padding-left: 13%;
        width: 100%;
        height: auto;

        .category {
            display: flex;
            justify-content: space-between;
            margin-left: 18px;
            height: 10%;
            width: 77%;

            .category-name {
                font-size: 36px;
                color: #222124;
            }

            .category-sort {
                margin-top: 15px;

                p {
                    font-size: 14px;
                }

                select {
                    background: none;
                    -webkit-appearance: none;
                    appearance: none;
                    border: none;
                    color: black;
                    font-size: 15px;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }

        .product-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;

            .product {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                width: 300px;
                height: 450px;
                background: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
                border-radius: 20px;
                margin: 30px 20px 40px 20px;

                .product-name {
                    text-align: center;
                    color: #222124;
                    font-size: 22px;
                }

                .product-description {
                    text-align: center;
                    font-size: 14px;
                    color: #767281;
                    margin: 10px 10px 30px 10px;
                }

                .product-price {
                    text-align: center;
                    font-size: 38px;
                    color: #222124;
                    margin: 0 auto 80px auto;
                }

                .add-btn {
                    justify-content: center;
                    background: #6A45B6;
                    height: 65px;
                    width: 65px;
                    border: none;
                    border-radius: 100%;
                    position: absolute;
                    margin-top: 30px;

                    i {
                        color: #FFFFFF;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@include responsive(tab-port) {
    .main {

        .banner {
            height: 200px;

            .slider {

                border-radius: 0;
                height: 100%;
                width: 100%;
                margin: 0;
            }
        }

        .content {
            padding-left: 0;

            .category {
                margin: 0;
                width: 100%;
                margin-top: 20px;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;

                .category-sort {
                    margin-top: 5px;

                    p {
                        font-size: 10px;
                    }

                    select {
                        font-size: 11px;
                    }
                }
            }

            .product-list {
                flex-direction: column;
                align-items: center;
                

                .product {
                    height: 350px;
                    width: 100%;
                    padding: 0;
                    margin: 50px 0;
                    border-radius: 0;
                    box-shadow: 0px 20px rgba(0, 0, 0, 0.15) 0px;

                    .product-name {
                        font-size: 20px;
                    }

                    .product-description {
                        font-size: 12px;
                        margin: 10px 10px 15px 10px;
                    }

                    .product-price {
                        font-size: 34px;
                        margin: 0 auto 50px auto;
                    }
                }
            }
        }
    }
}

@include responsive(phone) {
    .main {
        
        .content {
            .product-list {
                .product{
                    height: 300px;
                }
            }
        }
        
    }
}